.content-wrapper {
  display: flex;
  flex-direction: column;
}

.options-wrapper {
  display: flex;
  flex-direction: column;
}

.mappings {
  display: flex;
  flex-direction: column;
}

.field-mappings {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.csv-options{
  display: flex;
  flex-direction: column;
}

.table-wrapper {
  max-height: 300px;
  overflow: scroll;
}

button {
  border-radius: 5px;
}
